@{
    ViewData["Title"] = "WorkerDashboard";
}

<h1>Worker Dashboard</h1>
<br />
<div class="col-md-4 form-act">
    <h3>Hallo worker,</h3>
    <p>Wat wilt u doen?</p>
    <ul>
        <li><a asp-controller="Orders" asp-action="Index">Orders maken</a></li>
    </ul>
</div>
<br />