@model PatatZaak.Models.Businesslayer.Order

<h1>Edit Order</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />

            <div class="form-group">
                <label asp-for="Ordernumber" class="control-label"></label>
                <input asp-for="Ordernumber" class="form-control" />
                <span asp-validation-for="Ordernumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OrderStatus" class="control-label"></label>
                <select asp-for="OrderStatus" class="form-control">
                    <option value="0">Besteld</option>
                    <option value="1">In Process</option>
                    <option value="2">Afgerond</option>
                </select>
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}