@model IEnumerable<PatatZaak.Models.Businesslayer.Order>

@{
    ViewData["Title"] = "Bestellingen Overzicht";
}

<h2>Bestellingen</h2>

<table class="table">
    <thead>
        <tr>
            <th>Order Nummer</th>
            <th>Status</th>
            <th>Ophaalnummer</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)

        {
            <tr>
                <td>@order.Ordernumber</td>
                <td>
                    @switch (order.OrderStatus)
                    {

                        case 0:
                            <text>Besteld</text>
                            ; break;

                        case 1:
                            <text>In Process</text>
                            ; break;

                        case 2:
                            <text>Afgerond</text>
                            ; break;
                    }
                </td>
                <td>@order.PickupNumber</td>
                <td>
                    @if (order.OrderStatus < 2)
                    {
                        <form asp-action="UpdateStatus" asp-route-id="@order.OrderId" method="post">
                            <button type="submit" class="btn btn-primary">
                                Volgende Status
                            </button>
                        </form>
                    }
                    else
                    {
                        <span>Voltooid</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>