@model PatatZaak.Models.Businesslayer.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Aanmaken</h1>

<h2>Product</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- ProductName -->
            <div class="form-control">
                <input asp-for="ProductName" required="" />
                <label for="ProductName">
                    <span style="transition-delay:0ms">P</span>
                    <span style="transition-delay:50ms">r</span>
                    <span style="transition-delay:100ms">o</span>
                    <span style="transition-delay:150ms">d</span>
                    <span style="transition-delay:200ms">u</span>
                    <span style="transition-delay:250ms">c</span>
                    <span style="transition-delay:300ms">t</span>
                    <span style="transition-delay:350ms"></span>
                    <span style="transition-delay:400ms">n</span>
                    <span style="transition-delay:450ms">a</span>
                    <span style="transition-delay:500ms">a</span>
                    <span style="transition-delay:550ms">m</span>
                </label>
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <!-- ProductCat -->
            <div class="form-control">
                <input asp-for="ProductCat" required="" />
                <label for="ProductCat">
                    <span style="transition-delay:0ms">C</span>
                    <span style="transition-delay:50ms">a</span>
                    <span style="transition-delay:100ms">t</span>
                    <span style="transition-delay:150ms">e</span>
                    <span style="transition-delay:200ms">g</span>
                    <span style="transition-delay:250ms">o</span>
                    <span style="transition-delay:300ms">r</span>
                    <span style="transition-delay:350ms">i</span>
                    <span style="transition-delay:400ms">e</span>

                </label>
                <span asp-validation-for="ProductCat" class="text-danger"></span>
            </div>

            <!-- ProductDescription -->
            <div class="form-control">
                <input asp-for="ProductDescription" required="" />
                <label for="ProductDescription">
                    <span style="transition-delay:0ms">D</span>
                    <span style="transition-delay:50ms">e</span>
                    <span style="transition-delay:100ms">s</span>
                    <span style="transition-delay:150ms">c</span>
                    <span style="transition-delay:200ms">r</span>
                    <span style="transition-delay:500ms">i</span>
                    <span style="transition-delay:600ms">p</span>
                    <span style="transition-delay:700ms">t</span>
                    <span style="transition-delay:800ms">i</span>
                    <span style="transition-delay:900ms">o</span>
                    <span style="transition-delay:1000ms">n</span>
                </label>
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>

            <!-- ProductPoints -->
            <div class="form-control">
                <input asp-for="ProductPoints" required="" />
                <label for="ProductPoints">
                    <span style="transition-delay:0ms">P</span>
                    <span style="transition-delay:100ms">o</span>
                    <span style="transition-delay:200ms">i</span>
                    <span style="transition-delay:300ms">n</span>
                    <span style="transition-delay:400ms">t</span>
                    <span style="transition-delay:500ms">s</span>
                </label>
                <span asp-validation-for="ProductPoints" class="text-danger"></span>
            </div>

            <!-- ProductDiscount -->
            <div class="form-control">
                <input asp-for="ProductDiscount" required="" />
                <label for="ProductDiscount">
                    <span style="transition-delay:0ms">D</span>
                    <span style="transition-delay:100ms">i</span>
                    <span style="transition-delay:200ms">s</span>
                    <span style="transition-delay:300ms">c</span>
                    <span style="transition-delay:400ms">o</span>
                    <span style="transition-delay:500ms">u</span>
                    <span style="transition-delay:600ms">n</span>
                    <span style="transition-delay:700ms">t</span>
                </label>
                <span asp-validation-for="ProductDiscount" class="text-danger"></span>
            </div>

            <!-- Photopath -->
            <div class="form-control">
                <input asp-for="Photopath" required="" />
                <label for="Photopath">
                    <span style="transition-delay:0ms">P</span>
                    <span style="transition-delay:100ms">h</span>
                    <span style="transition-delay:200ms">o</span>
                    <span style="transition-delay:300ms">t</span>
                    <span style="transition-delay:400ms">o</span>
                </label>
                <span asp-validation-for="Photopath" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
